* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'main';
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(0deg,
            hsl(222deg 43% 10%) 0%,
            hsl(222deg 41% 11%) 11%,
            hsl(222deg 39% 12%) 22%,
            hsl(223deg 37% 12%) 33%,
            hsl(223deg 35% 13%) 44%,
            hsl(224deg 34% 14%) 56%,
            hsl(224deg 32% 14%) 67%,
            hsl(224deg 31% 15%) 78%,
            hsl(225deg 30% 16%) 89%,
            hsl(225deg 29% 16%) 100%);
}

main {
    grid-area: main;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    width: 20em;
}

ul {
    list-style-type: none;
    text-align: center;
    color: #fff;
    margin-top: 1.5em;
    line-height: 1.8em;
}

ul span {
    font-family: 'Teko', sans-serif;
    font-size: 4em;
}